.cart-items {
  padding: 2rem 8rem;
  gap: 2rem;

  > a {
    border: 1px solid $color2;
    padding: 1rem;
    margin: 1rem 2rem;
  }
  > main {
    margin: 2rem;
    > h1 {
      @include heading(2px);
      text-align: center;
    }

    .cart-item-heading {
      @include flex(column, space-around, flex-start, 1rem);
      thead {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        margin-bottom: 2rem;
      }

      tbody {
        [role="row"] {
          [role="cell"] {
            .quantity {
              @include flex(row, flex-start, center, 1rem);

              > button {
                border: none;
                @include square(2rem);
                @include flex(row, center, center, 1rem);
                cursor: pointer;

                &:hover {
                  border: 1px solid $color4;
                }
              }
            }

            .remove {
              @include flex(row, flex-start, center, 1rem);

              > button {
                border: none;
                @include square(2rem);
                @include flex(row, center, center, 1rem);
                cursor: pointer;

                > svg {
                  @include square(1.5rem);
                }
              }
            }
          }
        }
      }
    }
  }

  .total{
    margin: 2rem;
    @include flex(row, space-between, flex-start, 3rem);


    .left{
      @include flex(column, space-around, flex-start, 1rem);
      width: 50%;
     .coupon{
      @include flex(row, space-between, center, 1rem);
      width: 100%;
      >input{
        @include inputStyle(100%, 1rem, unset, 1px solid rgba(13, 13, 13, 0.196));
        border-radius: 5px;
      }

      >h3{
        @include heading(2px);
        text-transform: capitalize;
        background-color: $color4;
        color: $color1;
        padding: 0.6rem;
        width: 50%;
        text-align: center;
      }
     }
    > span{
      margin: auto;
     }
    }

    aside{
      @include flex(column, space-around, flex-start, 2rem);
      width: 50%;
      margin: 0 4rem;
      border:1px solid $color2;
      padding: 1rem;
      border-radius: 0.3rem;
      flex-wrap: wrap;

      >h3{
        @include heading(1rem);
      }
      >div{
        @include flex(row, space-between, flex-start, 1rem);
        width: 100%;
        border-bottom: 1px solid $color2;
        padding-bottom: 0.5rem;

        
      }
      >a{
        background-color: $color4;
        color: $color1;
        padding: 1rem;

        align-self: center;
      }
    }
  }
}
